th {
  cursor: pointer;
  user-select: none;
}

.bi {
  width: 10px;
  height: 9px;
  font-size: 12px;
  color: rgb(100, 100, 100);
}
.arrows{
  padding-left: 10px;
  font-size: 10px;
}
.sort-header-active {
  color: rgb(219, 109, 6);
}
