<button *ngIf="!(isForm$|async)" class="btn-success w-100 mb-3 mt-4 " (click)="addUserHandler()">Добавить</button>
<button *ngIf="(isForm$|async)" class="btn-info w-100 mb-3" (click)="addUserHandler()">Скрыть</button>
<form (submit)="searchTermHandler()">
  <div class="row mw-100 m-auto">
  <input class="col-10" type="text" name="searchTerm"  [(ngModel)]="searchTerm"/>
  <button class="col-2" type="submit">Найти</button>
  </div>

</form>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col" *ngFor="let headerItem of headerRow" (click)="onSort(headerItem)">
      <div class="d-flex">
        {{ headerItem.displayName }}

        <!-- SORT -->
        <div class="d-flex flex-column ms-2" *ngIf="headerItem.hasSort">
          <i
            class="arrows"
            [class.sort-header-active]="(sortDirection$ | async) === 'asc' && headerItem.key === (sortKey$ | async)"
          >
            ▲
          </i>
          <i
            class="arrows"
            [class.sort-header-active]="(sortDirection$ | async) === 'desc' && headerItem.key === (sortKey$ | async)"
          >
            ▼
          </i>
        </div>
        <!-- SORT -->
      </div>
    </th>
  </tr>
  </thead>
  <div *ngIf="(isEmpty$|async)" class="p-3">
      Записей не найдено
  </div>
  <tbody>
    <tr *ngFor="let user of tableData$ | async" (click)="open(content, user)">
    <td>{{user.id}}</td>
    <td>{{user.firstName}}</td>
    <td>{{user.lastName}}</td>
    <td>{{user.email}}</td>
    <td>{{user.phone}}</td>
  </tr>
  </tbody>
</table>
<ngb-pagination *ngIf="!(isEmpty$|async)" [collectionSize]="(collectionSize$ | async) || 1"
                [page]="(page$ | async) || 1" [pageSize]="(pageSize$ | async) || 1" (pageChange)="refreshData($event)">
</ngb-pagination>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      Выбран пользователь <b>{{(currentUser$| async)?.firstName }}</b>
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" *ngIf="currentUser$">
    <div class="col">
      <div class="row">
        <div class="col">
          Описание:
        </div>
        <div class="col" style="text-align: right">
          <textarea id="description" cols="30" rows="3">{{(currentUser$| async)?.description}}</textarea>
        </div>
      </div>
      <div class="row">
        <div class="col">
          Адрес проживания:
        </div>
        <div class="col" style="text-align: right">
          <b>{{(currentUser$| async)?.address?.streetAddress }}</b>
        </div>
      </div>
      <div class="row">
        <div class="col">
          Город:
        </div>
        <div class="col" style="text-align: right">
          <b>{{(currentUser$| async)?.address?.city }}</b>
        </div>
      </div>
      <div class="row">
        <div class="col">
          Провинция/штат:
        </div>
        <div class="col" style="text-align: right">
          <b>{{(currentUser$| async)?.address?.state }}</b>
        </div>
      </div>
      <div class="row">
        <div class="col">
          Индекс:
        </div>
        <div class="col" style="text-align: right">
          <b>{{(currentUser$| async)?.address?.zip }}</b>
        </div>
      </div>
    </div>

  </div>
</ng-template>

