<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      Выбран пользователь <b>{{(currentUser$| async)?.firstName }}</b>
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" *ngIf="currentUser$">
    <div class="col">
      <div class="row">
        <div class="col">
          Описание:
        </div>
        <div class="col" style="text-align: right">
          {{(currentUser$| async)?.description}}
        </div>
      </div>
      <div class="row">
        <div class="col">
          Адрес проживания:
        </div>
        <div class="col" style="text-align: right">
          <b>{{(currentUser$| async)?.address?.streetAddress }}</b>
        </div>
      </div>
      <div class="row">
        <div class="col">
          Город:
        </div>
        <div class="col" style="text-align: right">
          <b>{{(currentUser$| async)?.address?.city }}</b>
        </div>
      </div>
      <div class="row">
        <div class="col">
          Провинция/штат:
        </div>
        <div class="col" style="text-align: right">
          <b>{{(currentUser$| async)?.address?.state }}</b>
        </div>
      </div>
      <div class="row">
        <div class="col">
          Индекс:
        </div>
        <div class="col" style="text-align: right">
          <b>{{(currentUser$| async)?.address?.zip }}</b>
        </div>
      </div>
    </div>

  </div>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>
